@import 'tailwindcss';

:root {
  --background: #050505;
  --foreground: #ffffff;
  --accent: #a246ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nt-somic);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-nt-somic), 'ntSomic', sans-serif;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}
